{% extends 'base.html' %}

{% load static %}

{% block title %}
    Live!
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'styles/homestyle.css' %}">
{% endblock %}

{% block content %}
<div class="container">
{% if not submitbutton %}
    <div class="single-card">
        <h3> Video Output:  </h3>
        <div class="text-center">
            <img src="{% url 'livefeed' %}">
        </div>
        <div class="text-center">
            <a href="{% url 'liveres' %}"><button class="btn btn-primary">Suggest some songs</button></a>
        </div>
    </div>

</div>
{% endif %}
{% endblock %}