{% extends 'base.html' %}

{% block content %}

<div class="container">

<h1 >Enter Image for testing</h1> 
<form action="{% url 'form'%}" method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="btn btn-lg btn-success"> Upload</button>
</form>


{% if obj %}
<h3> Successfully uploaded: {{image_obj.caption}} </h3>
<img src="{{ obj.image.url}}" alt="image" height="250px" width="250px">
<p>Prediction is {{ prediction }}</p>
<img src="{{ modified_image.image.url }}" alt="image" height="250px" width="250px">
{% endif %}

<hr>

{% if img.image %}

<img src="{{img.image.url}}" alt="testing">

{% endif %}
</div>

{% endblock %}