{% extends 'base.html' %}

{% load static %}

{% block title %}
    Static TUNEX
{% endblock %}

{% block styles %}
<style>
    body{
        overflow-x: hidden;
        overflow-y: auto;
    }
    .spotify-songs{
        height:100vh;
        width: 100%;
    }
    .spotify-songs-title{
        height:22vh;
        width:100%;
        padding-left: 5%;
        padding-top: 6vh;
        background-color: rgb(10, 24, 30);
    }
    .spotify-songs-title span{
        font-family: sans-serif;
        font-size: 6vh;
        font-weight:bold;
        color: rgb(251, 252, 255);
    }
    .all-song-cards{
        height:55vh;
        width: 90%;
        margin-left: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .single-card{
        width: 16%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        margin-right: 3%;
        border-radius: 10px;
    }
    .song-art img{
        width: 100%;
        height: auto;
        border-radius: 10px 10px 0 0;
    }
    .song-name{
        height: 6vh;
        text-align: center;
        padding: 6% 7% 2% 7%;
        font-size: 2.5vh;
        font-weight:bold;
        overflow-y: hidden;
    }
    .song-artist{
        text-align: center;
        padding: 1% 8% 4% 8%;
        font-size: 1.8vh;
        color: gray;
    }
    audio{
        width: 100%;

    }
</style>
    <link rel="stylesheet" href="{% static 'styles/homestyle.css' %}">
{% endblock %}

{% block content %}

<div class="container">
        <form action="{% url 'form'%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="form-group">
            {{ form }}
        </div>
        <div class="form-group">
            {% if not obj %}
        <button type="submit" class="btn btn-primary">Upload</button>
            {% endif %}
        </div>
        </form>

{% if obj %}
<div class="text-center"> 
 <h3> Successfully Predicted </h3>
<p>Predicted emotion is {{ prediction }}</p>
<img src="{{ modified_image.image.url }}" alt="image" class="img-fluid">
</div>
</div>
{% endif %}

{% if result_dic %}
<div class="spotify-songs">
    <div class="spotify-songs-title">
        <span>Here's some songs recommended for you...</span>
    </div>
    <div class="all-song-cards">
        {% for ind, a, s, u, i in result_dic %}
        <div class="single-card">
            <div class="song-art">
                <img src="{{ i }}"/>
            </div>
            <div class="song-name">
                {{ s }}
            </div>
            <div class="song-artist">
                {{ a }}
            </div>
            <div class="song-controls">
                <audio controls name="smedia" id="smedia-{{ind}}">
                    <source src="{{ u }}" type="audio/mpeg">
                </audio>
                <!-- <button class="play-button-{{ind}}" id="play-button-{{ind}}" onclick="playAudio()" type="button">
                    Play
                </button>
                <button class="pause-button-{{ind}}" id="pause-button-{{ind}}" onclick="pauseAudio()" type="button">
                    Pause
                </button> -->
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<script>
    var audio = [], play = [], pause = [];
    for(var i = 0 ; i < 3; i++){
    audio[i] = document.getElementById("smedia-"+i);
    play[i] = document.getElementById("play-button-"+i);
    pause[i] = document.getElementById("pause-button-"+i);
    function playAudio() {
    audio[i].play();
    play[i].style.display = "none";
    pause[i].style.display = "block";
    }

    function pauseAudio() {
    audio[i].pause();
    pause[i].style.display = "none";
    play[i].style.display = "block";
    }
    }
    
</script>

<div>
{% if img.image %}
<div class="text-center">

<img src="{{img.image.url}}" class="img-fluid" alt="testing">
</div>
{% endif %}
</div>

{% endblock %}
